<footer>
    <div class="footer-wrapper">
        <div class="socialLink">
            <a href="https://github.com/myth984/" target="_blank">
                <i class="fa fa-github fa-2x" aria-hidden="true">
                </i>
            </a>
        </div>
        <div class="copyright">© Myth.icu, 2020</div>
    </div>
</footer>